<div id="wrapper">
      <h1>Reddit News</h1>
      <h2>Click on an article to write a note</h2>
      <br>
      <a href="/scrape"><button class="btn btn-primary">Scrape Top Reddit Threads</button></a>
      <a href="/delete"><button class="btn btn-primary">Clear Scraped Articles</button></a>
      <br>
      <br>
      <div id="articles">
      </div>
       <div id="notes"></div>
      
    </div>